# tasks file for list-vm-esx01
- debug:
    msg: "User={{ esx1_username }} Pass={{ esx1_password | regex_replace('.','*') }}"

- name: Vérifier que les variables sensibles sont définies
  ansible.builtin.assert:
    that:
      - esx1_hostname != 'CHANGEMOI'
      - esx1_username != 'CHANGEMOI'
      - esx1_password != 'CHANGEMOI'
    fail_msg: "esx1_* non définies (CHANGEMOI). Corrige le Variable Group/Secrets."

- name: Récupérer la liste des VMs (connexion API ESXi/vCenter)
  community.vmware.vmware_vm_info:
    hostname: "{{ esx1_hostname }}"
    username: "{{ esx1_username }}"
    password: "{{ esx1_password }}"
    validate_certs: "{{ esx1_validate_certs | default(false) }}"
  no_log: true
  register: vm_info

- name: Afficher les VMs (nom, power_state, guest_fullname, ip)
  ansible.builtin.debug:
    msg: >-
      {{ item.guest_name }} | {{ item.power_state }} | {{ item.guest_fullname | default('n/a') }} | {{ item.ip_address | default('n/a') }}
  loop: "{{ vm_info.virtual_machines | default([]) }}"

